{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<center><img src="../static/quick.png" width="200"><img></center>
<br>
<div class="container">
  <div class="jumbotron">
    <center>
    Quickets is the newest app for people who want to watch movies at AMC Theaters, but just don't know which to watch. So many difficulties can arise: finding a nearby theatre, finding good showtimes, and even finding available tickets. Quickets lets users input their zip code, state, and genre preferences to give them the best recommendations for movies currently playing in theaters. The app only shows users showtimes for which tickets are still available, saving customers from the soul-crushing trauma of going to the theatre or online purchasing service only to find the movie sold out. Users can go directly to AMC's online ticket purchasing service and instantly buy tickets. <br><br>
    Developed by Mariya Gedrich, Michael Mattson, Michael Rivera, and Nellie Spektor. 
    We're on <a href="https://github.com/nspektor/Quickets">Github!</a>
    </center>
    </div>
</div>


{% endblock %}
