{% extends "layout.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}
<div class="container">
  <h2>Create an account</h2>
  {% if err %}
  <h3> {{err}} </h3>
  {% endif %}
  <form role="form" id="user" method="POST">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" name="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="pwdagn">Confirm Password:</label>
      <input type="password" name="password_again" class="form-control" id="pwdagn" placeholder="Retype password">
    </div>
    <div class="form-group">
      <label for="zipcode">Zip Code:</label>
      <input type="text" class="form-control" id="zipcode" placeholder="Enter your zipcode" name="zipcode">
    </div>
    <div class="form-group">
      <label for="state">State:</label>
      <select name="state" id="state" form="user">
	<option value="Alabama">Alabama</option>
	<option value="Alaska">Alaska</option>
	<option value="Arizona">Arizona</option>
	<option value="Arkansas">Arkansas</option>
	<option value="California">California</option>
	<option value="Colorado">Colorado</option>
	<option value="Connecticut">Connecticut</option>
	<option value="Delaware">Delaware</option>
	<option value="District Of Columbia">District Of Columbia</option>
	<option value="Florida">Florida</option>
	<option value="Georgia">Georgia</option>
	<option value="Hawaii">Hawaii</option>
	<option value="Idaho">Idaho</option>
	<option value="Illinois">Illinois</option>
	<option value="Indiana">Indiana</option>
	<option value="Iowa">Iowa</option>
	<option value="Kansas">Kansas</option>
	<option value="Kentucky">Kentucky</option>
	<option value="Louisiana">Louisiana</option>
	<option value="Maine">Maine</option>
	<option value="Maryland">Maryland</option>
	<option value="Massachusetts">Massachusetts</option>
	<option value="Michigan">Michigan</option>
	<option value="Minnesota">Minnesota</option>
	<option value="Mississippi">Mississippi</option>
	<option value="Missouri">Missouri</option>
	<option value="Montana">Montana</option>
	<option value="Nebraska">Nebraska</option>
	<option value="Nevada">Nevada</option>
	<option value="New Hampshire">New Hampshire</option>
	<option value="New Jersey">New Jersey</option>
	<option value="New Mexico">New Mexico</option>
	<option value="New York">New York</option>
	<option value="North Carolina">North Carolina</option>
	<option value="North Dakota">North Dakota</option>
	<option value="Ohio">Ohio</option>
	<option value="Oklahoma">Oklahoma</option>
	<option value="Oregon">Oregon</option>
	<option value="Pennsylvania">Pennsylvania</option>
	<option value="Rhode Island">Rhode Island</option>
	<option value="South Carolina">South Carolina</option>
	<option value="South Dakota">South Dakota</option>
	<option value="Tennessee">Tennessee</option>
	<option value="Texas">Texas</option>
	<option value="Utah">Utah</option>
	<option value="Vermont">Vermont</option>
	<option value="Virginia">Virginia</option>
	<option value="Washington">Washington</option>
	<option value="West Virginia">West Virginia</option>
	<option value="Wisconsin">Wisconsin</option>
	<option value="Wyoming">Wyoming</option>
</select>
    </div>
    <div class="container">
      <h2>Choose your favorite genres</h2>
	<div class="checkbox">
	  <label><input type="checkbox" name="1">Adventure</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="2">Animation</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="3">Comedy</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="4">Western</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="5">Special Events</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="6">Fantasy</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="7">Musical</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="8">Science Fiction</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="9">Film Festival</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="10">Suspense</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="11">Family</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="12">Romantic Comedy</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="13">Action</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="14">Documentary</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="15">Horror</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="16">Drama</label>
	</div>

    </div>
    <button type="submit" name="button" class="btn btn-default">Create</button>
    <a href="/home"  class="btn btn-default" >Cancel</a>
  </form>

</div>
{% endblock %}
