{% extends "layout.html" %}
{% block title %}Create Account{% endblock %}
{% block content %}
<div class="container">
  <h2>Create an account</h2>
  {% if err %}
  <h3> {{err}} </h3>
  {% endif %}
  <form role="form" method="POST">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" name="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="pwdagn">Confirm Password:</label>
      <input type="password" name="password_again" class="form-control" id="pwdagn" placeholder="Retype password">
    </div>
    <div class="form-group">
      <label for="zipcode">Zip Code:</label>
      <input type="text" class="form-control" id="zipcode" placeholder="Enter your zipcode" name="zipcode">
    </div>
    <div class="form-group">
      <label for="state">State:</label>
      <input type="text" class="form-control" id="state" placeholder="Enter your State" name="state">
    </div>
    <div class="container">
      <h2>Choose your favorite genres</h2>
	<div class="checkbox">
	  <label><input type="checkbox" name="1">Adventure</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="2">Animation</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="3">Comedy</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="4">Western</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="5">Special Events</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="6">Fantasy</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="7">Musical</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="8">Science Fiction</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="9">Film Festival</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="10">Suspense</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="11">Family</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="12">Romantic Comedy</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="13">Action</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="14">Documentary</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="15">Horror</label>
	</div>
	<div class="checkbox">
	  <label><input type="checkbox" name="16">Drama</label>
	</div>

    </div>
    <button type="submit" name="button" class="btn btn-default">Create</button>
    <a href="/home"  class="btn btn-default" >Cancel</a>
  </form>

</div>
{% endblock %}
