{% extends "layout.html" %}
{% block title %}Edit Account{% endblock %}
{% block content %}

<div class="container">
  <h2>Edit your account, {{ username }} </h2>
  <h3> Change Password </h3>
  <form role="form" method="POST">
    <div class="form-group">
      <label for="pwd">Current Password:</label>
      <input type="password" name="paassword" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="pwd">New Password:</label>
      <input type="password" name="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="pwdagn">Confirm New Password:</label>
      <input type="password" name="password_again" class="form-control" id="pwdagn" placeholder="Retype password">
    </div>
    <button type="submit" name="button" class="btn btn-default" value="1">Save Changes</button>
    <a href="/home"  class="btn btn-default" >Cancel</a>
  </form>

  <h3> Change Zip Code </h3>
  <p> current zip code: {{ zip }} </p>
  <form role="form" method="POST">
    <div class="form-group">
      <label for="zipcode">New Zip Code:</label>
      <input type="text" class="form-control" id="zipcode" placeholder="Enter your zipcode" name="Zipcode">
    </div>
    <button type="submit" name="button" class="btn btn-default" value="2">Save Changes</button>
    <a href="/home"  class="btn btn-default" >Cancel</a>
  </form> 
  <h3> Change State</h3>
  <p> current State: {{ state }} </p>
  <form role="form" method="POST">
    <div class="form-group">
      <label for="state">New State:</label>
      <input type="text" class="form-control" id="state" placeholder="Enter your State"  name="State">
    </div>
    <button type="submit" name="button" class="btn btn-default" value="3">Save Changes</button>
    <a href="/home"  class="btn btn-default" >Cancel</a>
  </form>

  <h3>Change your favorite genres</h3>
  <p> current favorites: {{ genre1 }}, {{ genre2 }}, {{genre3 }} </p>
  <form role="form" method="POST">
    <div class="checkbox">
      <label><input type="checkbox" value="1" name="1">Adventure</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="2" name="2">Animation</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="3" name="3">Comedy</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="4" name="4">Western</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="5" name="5">Special Events</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="6" name="6">Fantasy</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="7" name="7">Musical</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="8" name="8">Science Fiction</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="9" name="9">Film Festival</label>
        </div>
    <div class="checkbox">
      <label><input type="checkbox" value="10" name="10">Suspense</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="11" name="11">Family</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="12" name="12">Romantic Comedy</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="13" name="13">Action</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="14" name="14">Documentary</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="15" name="15">Horror</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="16" name="16">Drama</label>
    </div>
    <button type="submit" name="button" class="btn btn-default" value="4">Save Changes</button>
    <a href="/home"  class="btn btn-default">Cancel</a>
  </form>
</div>

{% endblock %}
