{% extends "layout.html" %}
{% block title %}Edit Account{% endblock %}
{% block content %}

<div class="container">
  <h2>Edit your account, {{ username }} </h2>
  <h3> Change Password </h3>
  <form role="form" method="POST">
    <div class="form-group">
      <label for="pwd">Current Password:</label>
      <input type="password" name="paassword" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="pwd">New Password:</label>
      <input type="password" name="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="pwdagn">Confirm New Password:</label>
      <input type="password" name="password_again" class="form-control" id="pwdagn" placeholder="Retype password">
    </div>
    <button type="submit" name="button" class="btn btn-default" value="1">Save Changes</button>
    <a href="/home"  class="btn btn-default" >Cancel</a>
  </form>

  <h3> Change Zip Code </h3>
<!--  <p> <b>Current Zip Code:</b> {{ zip }} </p> -->
  <form role="form" method="POST">
    <div class="form-group">
      <label for="zipcode">New Zip Code:</label>
      <input type="text" class="form-control" id="zipcode" placeholder="Enter your zipcode" name="Zipcode">
    </div>
    <button type="submit" name="button" class="btn btn-default" value="2">Save Changes</button>
    <a href="/home"  class="btn btn-default" >Cancel</a>
  </form> 
  <h3> Change State</h3>
<!--  <p> <b>Current State:</b> {{ state }} </p> -->
  <form role="form" method="POST">
    <div class="form-group">
      <label for="state">Change State:</label>
      <select name="state" id="state" form="user">
        <option value="Alabama">Alabama</option>
        <option value="Alaska">Alaska</option>
        <option value="Arizona">Arizona</option>
        <option value="Arkansas">Arkansas</option>
        <option value="California">California</option>
        <option value="Colorado">Colorado</option>
        <option value="Connecticut">Connecticut</option>
        <option value="Delaware">Delaware</option>
        <option value="District Of Columbia">District Of Columbia</option>
        <option value="Florida">Florida</option>
        <option value="Georgia">Georgia</option>
        <option value="Hawaii">Hawaii</option>
        <option value="Idaho">Idaho</option>
        <option value="Illinois">Illinois</option>
        <option value="Indiana">Indiana</option>
        <option value="Iowa">Iowa</option>
        <option value="Kansas">Kansas</option>
        <option value="Kentucky">Kentucky</option>
        <option value="Louisiana">Louisiana</option>
        <option value="Maine">Maine</option>
        <option value="Maryland">Maryland</option>
        <option value="Massachusetts">Massachusetts</option>
        <option value="Michigan">Michigan</option>
        <option value="Minnesota">Minnesota</option>
        <option value="Mississippi">Mississippi</option>
        <option value="Missouri">Missouri</option>
        <option value="Montana">Montana</option>
        <option value="Nebraska">Nebraska</option>
        <option value="Nevada">Nevada</option>
        <option value="New Hampshire">New Hampshire</option>
        <option value="New Jersey">New Jersey</option>
        <option value="New Mexico">New Mexico</option>
        <option value="New York">New York</option>
        <option value="North Carolina">North Carolina</option>
        <option value="North Dakota">North Dakota</option>
        <option value="Ohio">Ohio</option>
        <option value="Oklahoma">Oklahoma</option>
        <option value="Oregon">Oregon</option>
        <option value="Pennsylvania">Pennsylvania</option>
        <option value="Rhode Island">Rhode Island</option>
        <option value="South Carolina">South Carolina</option>
        <option value="South Dakota">South Dakota</option>
        <option value="Tennessee">Tennessee</option>
        <option value="Texas">Texas</option>
        <option value="Utah">Utah</option>
        <option value="Vermont">Vermont</option>
        <option value="Virginia">Virginia</option>
        <option value="Washington">Washington</option>
        <option value="West Virginia">West Virginia</option>
        <option value="Wisconsin">Wisconsin</option>
        <option value="Wyoming">Wyoming</option>
      </select>
    </div>
      <button type="submit" name="button" class="btn btn-default" value="3">Save Changes</button>
    <a href="/home"  class="btn btn-default" >Cancel</a>
  </form>

  <h3>Change your favorite genres</h3>
  <p> <b>Current Favorites:</b>
    {% for fav in favs %}
    {{fav}}
    {% endfor %}
  </p>
  <form role="form" method="POST">
    <div class="checkbox">
      <label><input type="checkbox" value="1" name="1">Adventure</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="2" name="2">Animation</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="3" name="3">Comedy</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="4" name="4">Western</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="5" name="5">Special Events</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="6" name="6">Fantasy</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="7" name="7">Musical</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="8" name="8">Science Fiction</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="9" name="9">Film Festival</label>
        </div>
    <div class="checkbox">
      <label><input type="checkbox" value="10" name="10">Suspense</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="11" name="11">Family</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="12" name="12">Romantic Comedy</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="13" name="13">Action</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="14" name="14">Documentary</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="15" name="15">Horror</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="16" name="16">Drama</label>
    </div>
    <button type="submit" name="button" class="btn btn-default" value="4">Save Changes</button>
    <a href="/home"  class="btn btn-default">Cancel</a>
  </form>
</div>

{% endblock %}
