{% extends "layout.html" %}
{% block title %}Find Tickets{% endblock %}
{% block content %}
    <div class="container">
      <p> {{showtimes}} </p>
<h2> theater </h2>
      <div class="containter">
	<button type="button" class="btn btn-info">0:00</button>
	<button type="button" class="btn btn-info">0:00</button>
	<button type="button" class="btn btn-info">0:00</button>
	<button type="button" class="btn btn-info">0:00</button>
	<button type="button" class="btn btn-info">0:00</button>
      </div>
      <h2> theater </h2>
      <div class="containter">
	<button type="button" class="btn btn-info">0:00</button>
	<button type="button" class="btn btn-info">0:00</button>
	<button type="button" class="btn btn-info">0:00</button>
	<button type="button" class="btn btn-info">0:00</button>
	<button type="button" class="btn btn-info">0:00</button>
      </div>
      <h2> theater </h2>
      <div class="containter">
	<button type="button" class="btn btn-info">0:00</button>
	<button type="button" class="btn btn-info">0:00</button>
	<button type="button" class="btn btn-info">0:00</button>
	<button type="button" class="btn btn-info">0:00</button>
	<button type="button" class="btn btn-info">0:00</button>
      </div>

    </div>
{% endblock %}


