{% extends "layout.html" %}
{% block title %}Quickets{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <center>
      <h1>Welcome to Quickets</h1>
      <h2>Last minute tickets!</h2>
      <p> 1st recommended movie </p>
      <a href="/find_tickets" class="btn btn-info" role="button">Watch Now!</a>
      <a href="/home" class="btn btn-info" role="button">Maybe Later</a>
      <a href="/home" class="btn btn-info" role="button">Nope</a>
       
    </center>
  </div>
</div>
{% endblock %}
