{% extends "layout.html" %}
{% block title %}Quickets{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <center>
      <h1>Welcome to Quickets</h1>
      <h2>Last minute tickets!</h2>
      {% if loggedin %}
      <p> hiya, {{ uname }}, youre logged in </p>

      {% else %}
      <p> oh </p>
      {% endif %}
      <div id="movieName"><h3></h3></div>
      <div class="row">
	<div class="col-xs-6">
	  <img id="poster" src="" class="img-rounded" alt="poster" width="300" height="448">
	</div>
	<div class="col-xs-6">
	  <p id="blurb"></p>
	</div>
      </div>
      <br>
      <br>
      <button class="btn btn-info" role="button" id="watch">Watch Now!</button>
      <button class="btn btn-info" role="button" id="switch">Nope</button> <br>
      {% if loggedin %}
    	<h2> Hi there, {{ uname }} </h2>
	<form method = "POST">
      	 <button  name = "button" type="submit" class="btn" value="edit_account"> Edit Account</button>
         <button  name = "button" type="submit" class="btn" value="find_tickets"> Find Tickets</button>
    	</form>
      {% else %}
    	<form method = "POST">
      	 <button  name = "button" type="submit" class="btn" value="login"> Log In </button>
      	 <button  name = "button" type="submit" class="btn" value="create_account"> Create Account </button>
    	</form>
	{% endif %}
	<div id="shows"> </div>
	<script src="../static/mycode.js"></script>
    </center>
  </div>
</div>
{% endblock %}
